<div>
  <header>
    <input
      type="checkbox"
      [checked]="task?.completed"
      (change)="onCheckBoxChange()"
    />
    <a [routerLink]="['/']">voltar</a>
  </header>
  <main [formGroup]="taskForm">
    <h2 [hidden]="edit">{{ task?.description }}</h2>
    <p [hidden]="task?.date === undefined || edit">
      <b>prazo: </b>{{ task?.date?.toLocaleDateString("pt-BR") }}
    </p>

    <textarea [hidden]="!edit" formControlName="description"></textarea>
    <input [hidden]="!edit" type="date" formControlName="dueDate" />
  </main>
  <footer>
    <button
      class="danger"
      [hidden]="confirmDelete || edit"
      (click)="onDeleteClick()"
    >
      excluir
    </button>
    <button [hidden]="!confirmDelete" (click)="onCancelClick()">
      cancelar
    </button>
    <button class="danger" [hidden]="!confirmDelete" (click)="onDelete()">
      confirmar
    </button>

    <button [hidden]="confirmDelete || edit" (click)="onEditClick()">
      editar
    </button>
    <button [hidden]="!edit" (click)="onCancelClick()">cancelar</button>
    <button class="success" [hidden]="!edit" (click)="onSave()">salvar</button>
  </footer>
</div>
