<div>
  <header>
    <input
      type="checkbox"
      [checked]="task?.completed"
      (change)="onCheckBoxChange()"
    />
    <a [routerLink]="['/']">voltar</a>
  </header>
  <main>
    <h2>{{ task?.description }}</h2>
    <p [className]="task?.date === undefined ? 'hidden' : 'show'">
      <b>prazo: </b>{{ task?.date?.toLocaleDateString("pt-BR") }}
    </p>
  </main>
  <footer>
    <button class="danger" [hidden]="confirmDelete" (click)="onDeleteClick()">
      excluir
    </button>
    <button [hidden]="confirmDelete">editar</button>

    <button [hidden]="!confirmDelete" (click)="onCancelClick()">
      cancelar
    </button>
    <button class="danger" [hidden]="!confirmDelete" (click)="onDelete()">
      confirmar
    </button>
  </footer>
</div>
